.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: deeppink;
    width: 100%;
}

.title {
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}